#header{
    background: #301685 !important;
}

#main .carousel-item img{
    max-height: 70vh;
    object-fit: cover;
    opacity: 0.65;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Transparencia negra */
    color: white;
    z-index: 1; /* Asegúrate de que esté por encima del carrusel */
  }

#footer{
    background-color: #4729A6;
}

footer a, p{
    color:aliceblue;
}